.postcar{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    margin-left: 5cm;
}
.subdiv{
    display:flex;
    flex-direction: column;
    padding: 1cm;
    margin-left: 2cm;

}
.welcome h3, h4{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1200px;
}
@media (max-width: 768px) {
    .postcar{
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    }
    .subdiv{
    margin-left: 0;
    }
    .welcome h3, h4{
    text-align: center;
    }
    }